body {
  background-image: url("./images/tablecloth.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 5%;
}

button {
  display: inline;
  font-size: 40px;
  border-radius: 4px;
}

h1 {
  padding-left: 20%;
}

h3 {
  text-align: center;
}

.grid-square {
  border: 1px solid black;
  padding: 2px;
  height: 25px;
  width: 25px;
}

.grid-square-bitten {
  border: 1px solid black;
  padding: 2px;
  height: 25px;
  width: 25px;
  background-image: url(https://image.flaticon.com/icons/svg/1807/1807880.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.cheddar {
  background-size: cover;
  background-image: url(https://image.flaticon.com/icons/svg/1868/1868809.svg);
}

.parmesan {
  background-size: cover;
  background-image: url(https://image.flaticon.com/icons/svg/135/135651.svg);
}

.roquefort {
  background-size: cover;
  background-image: url(https://image.flaticon.com/icons/png/512/1859/1859644.png);
}

.baguette {
  background-size: cover;
  background-image: url(https://image.flaticon.com/icons/svg/135/135596.svg);
}

.taleggio {
  background-size: cover;
  background-image: url(https://image.flaticon.com/icons/svg/1421/1421625.svg);
}

.cheddar-bitten {
  background-size: cover;
  background-image: url(https://image.flaticon.com/icons/svg/1807/1807880.svg),
    url(https://image.flaticon.com/icons/svg/1868/1868809.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: center;
}

.parmesan-bitten {
  background-size: cover;
  background-image: url(https://image.flaticon.com/icons/svg/1807/1807880.svg),
    url(https://image.flaticon.com/icons/svg/135/135651.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: center;
}

.roquefort-bitten {
  background-size: cover;
  background-image: url(https://image.flaticon.com/icons/svg/1807/1807880.svg),
    url(https://image.flaticon.com/icons/png/512/1859/1859644.png);
  background-repeat: no-repeat, no-repeat;
  background-position: center;
}

.baguette-bitten {
  background-size: cover;
  background-image: url(https://image.flaticon.com/icons/svg/1807/1807880.svg),
    url(https://image.flaticon.com/icons/svg/135/135596.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: center;
}

.taleggio-bitten {
  background-size: cover;
  background-image: url(https://image.flaticon.com/icons/svg/1807/1807880.svg),
    url(https://image.flaticon.com/icons/svg/1421/1421625.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: center;
}

.grid-container {
  display: grid;
  grid-template-areas: ". . ." ". . .";
  justify-content: start;
}

.sidebar {
  padding-left: 20px;
  width: 300px;
}

.sidebar span {
  text-align: center;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.o-inlay {
  position: relative;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  font-size: 50px;
  background-color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-radius: 8px;
}

.o-input {
  position: relative;
  left: 40%;
}

.o-submit {
  position: relative;
  left: 40%;
  width: 60px;
  height: 30px;
  font-size: 12px;
}

#leaderboard-table {
  position: relative;
  left: 50%;
  width: 60px;
  height: 30px;
  font-size: 20px;
}

.lb-name {
  padding-right: 20px;
}

.lb-wins {
  text-align: center;
}

.escape {
  position: fixed;
  left: 98%;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
