table {
  border-collapse: collapse;
}

table {
  margin-right: 10px;
}

.grid-square {
  border: 1px solid black;
  height: 25px;
  width: 25px;
}

.grid-container {
  display: grid;
  grid-template-areas: ". . ." ". . .";
  justify-content: start;
}

.sidebar {
  width: 300px;
}

.user-placed {
  border: 1px solid black;
  background: blue;
}

.computer-bitten {
  border: 3px solid red;
  margin-right: 10px;
}

.user-bitten {
  border: 3px solid green;
  margin-right: 10px;
}

.computer-bitten-hit {
  background: red;
}

.user-bitten-hit {
  background: green;
}
