body {
  background-image: url("./images/tablecloth.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 5%;
}

button {
  display: inline;
  font-size: 40px;
  border-radius: 4px;
}

h1 {
  padding-left: 20%;
}

h3 {
  text-align: center;
}

.grid-square {
  border: 1px solid black;
  padding: 2px;
  height: 25px;
  width: 25px;
}

.cheddar {
  content: 🧀;
}

.grid-container {
  display: grid;
  grid-template-areas: ". . ." ". . .";
  justify-content: start;
}

.sidebar {
  width: 300px;
}

.user-placed {
  border: 1px solid black;
  background: blue;
}

.computer-bitten {
  border: 3px solid red;
  margin-right: 10px;
}

.user-bitten {
  border: 3px solid green;
  margin-right: 10px;
}

.computer-bitten-hit {
  background: red;
}

.user-bitten-hit {
  background: green;
}
